div.modal-add div.modal-dialog div.modal-header,
div.modal-edit div.modal-dialog div.modal-header
{
	background: #5cb85c;
  color: #fff;
  text-align: center;
}

div.modal-edit div.modal-dialog div.modal-header
{
	background: #FF9800;
}

div.modal-add div.modal-dialog  div.modal-body div.form-group label,
div.modal-edit div.modal-dialog  div.modal-body div.form-group label
{
	text-align: left;
	color: #777;
  font-weight: normal;
  font-size: 14px;
}

div.modal-enable-disable div.modal-dialog div.modal-ed-body
{
  text-align: center;
  padding: 50px 0px 0px 0px;
}

div.modal-enable-disable div.modal-dialog div.modal-ed-body i
{
  background: transparent;
  padding: 17px 27px;
  font-size: 30px;
  color: #d9534f;
  border-radius: 50px;
  border: 3px solid #d9534f;
}

div.modal-enable-disable div.modal-dialog div.modal-ed-body .attention
{
  color: #676767;
  font-size: 20px;
  margin-top: 20px;
}

div.modal-enable-disable div.modal-dialog div.modal-ed-body .button-wrapper
{
  margin: 30px 0 40px 0;
}

div.modal-enable-disable div.modal-dialog div.modal-ed-body .button-wrapper .btn
{
  margin: 0 3px;
  font-size: 14px;
  font-weight: bold;
  padding: 7px 20px;
}

div.modal-enable-disable div.modal-dialog div.modal-ed-body .button-wrapper .btn-default
{
  background: #b3b3b3;
  color: #fff;
}

div.success-notif,
div.failed-notif
{
  text-align: center;
  padding: 50px 10px;
}

div.success-notif i,
div.failed-notif i
{
  background: transparent;
  padding: 18px;
  font-size: 28px;
  color: #449d44;
  border-radius: 50px;
  border: 3px solid #449d44;
}

div.failed-notif i
{
  color: #dc3c31;
  border-color: #dc3c31;
  padding: 20px 23px;
}

div.success-notif p,
div.failed-notif p
{
  color: #676767;
  font-size: 21px;
  margin-top: 15px;
}

div.failed-notif p:last-child
{
  margin: 0;
  font-size: 15px;
}

.notif-footer .btn
{
  width: 100%;
  border-radius: 0 0 4px 4px;
  font-size: 15px;
  padding: 10px;
  outline: none;
  border: none;
}

::-moz-selection
{
   background-color: #000;
   color: #fff;
}

::selection
{
   background-color: #000;
   color: #fff;
}

div.loading-indication-mini
{
	width: 100%;
	text-align: center;
	padding: 2% 0;
}

div.loading-indication-mini img
{
    width: 10%;
}

.main-content .title
{
	font-size: 25px;
}

.main-content .desc
{
	font-size: 14px;
	color: #797979;
}

.main-content .table-option
{
  background: #19344a;
  padding: 15px;
  margin-top: 15px;
  color: #fff;
  display: inline-block;
  width: 100%;
}

.table-option .left
{
  display: inline;
}

.table-option .right
{
  text-align: right;
  display: inline;
  float: right;
}

.table-option .btn
{
  background: transparent;
  border: 1px solid #ffffff;
  color: #fff;
  margin-left: 5px;
}

.table-option .btn:hover,
.table-option .btn:active,
.table-option .btn:focus
{
  background: #2c5271;
  border-color: #9c9c9c;
  outline: none;
}

.table-option select
{
  color: #000;
  font-size: 15px;
  padding: 5px 0 5px 5px;
  margin-left: 5px;
}

.table-option .search-wrapper
{
  width: 100%;
  position: relative;
  margin: 0 7%;
}

.table-option form input,
.table-option form button.btn-search
{
  display: inline;
  float: left;
}

.table-option form input
{
  width: 80%;
  border-radius: 4px 0 0 4px;
}

.table-option form button.btn-search
{
  margin: 0;
  border-radius: 0 4px 4px 0;
  background: #337ab7;
  border: 1px solid #337ab7;
}

.main-content .table-wrapper
{
	margin-top: 0px;
}

table tr th
{
	color: #656565;
}

table tr:last-child td
{
  border-bottom: 1px solid #ddd;
}

table.table tbody tr th,
table.table tbody tr td
{
  vertical-align: middle;
}

table td .btn
{
  font-size: 11px;
  padding: 5px 7px;
  margin: 5px 0;
}

.table-control
{
	margin: 5px 0;
}

.table-control .item-option-wrapper
{
	padding: 0;
}

.table-control .item-option-wrapper label
{
	color: #797979;
	font-weight: normal;
}

.table-control .item-option-wrapper select
{
	font-size: 15px;
	padding: 5px 0 5px 5px;
}

.table-control .pagination-wrapper
{
	text-align: right;
}

.pagination
{
	margin: 0;
}

.footer
{
	width: 100%;
  background: #19344a;
  color: #fff;
  text-align: center;
  padding: 20px;
	margin-top: 30px;
}

@media (max-width: 600px)
{
	.table-option .left,
  .table-option .middle, 
  .table-option .right
  {
    width: 100%;
    text-align: center;
    margin: 7px 0;
  }

  .table-option .search-wrapper
  {
    margin:0 5.5%;
  }
}

@media (max-width: 767px)
{
	.table-control .item-option-wrapper,
	.table-control .pagination-wrapper
	{
		text-align: center;
		margin: 10px 0;
	}
}
