.navbar
{
  padding: 15px 10px;
  background: #0d2233;
  border: none;
  border-radius: 0;
  margin-bottom: 0px;
  box-shadow: 0px 1px 20px 4px rgba(0, 0, 0, 0.1);
}

.navbar img.logo
{
  width: 200px;
}

.navbar ul.nav
{
  border: none;
  margin: 5px 0 0 0;
}

.navbar .nav li a
{
  background: transparent;
  border-radius: 0;
  border: none;
  margin: 0 10px;
  color: #fff;
  font-size: 15px;
}

.navbar .nav li a:hover,
.navbar .nav li a:active,
.navbar .nav li a:focus
{
  background: #113552;
}

.navbar .nav li a i
{
  font-size: 12px;
  margin-left: 3px;
}

.dropdown-content
{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.nav li .dropdown-content a
{
  color: #0d2233;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  margin: 0;
}

.nav li .dropdown-content a:hover
{
  background: #e6e6e6;
}

.btn-dropdown:hover .dropdown-content
{
  display: block;
}

.btn-dropdown:hover .dropbtn
{
  background: #113552;
}

@media (max-width: 767px)
{
  .navbar-inverse .navbar-collapse
  {
    margin: 15px 0 0 0;
    padding: 0;
    border-color: #0c1a25;
  }

  .navbar ul.nav
  {
    margin-top: 10px;
  }

  .navbar .nav li a
  {
    margin: 0;
  }

  .dropdown-content
  {
    position: fixed;
  }
}
