<div class="main-content container-fluid" style="margin-bottom: 27.7%;">
  <div class="col-xs-12 col-sm-5">
    <h1 class="title">Lorem Ipsum Dolor Sit Amet</h1>
    <p class="desc">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
  </div>
</div>
